* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 120vh;
}

#calculator {
  width: 40%;
  height: auto;
  padding: 20px;
  border-radius: 30px;
  background-color: #1a2130;
  margin: 50px auto 0 auto;
}

#answer-view {
  width: 100%;
  height: 50px;
  border-radius: 20px;
  background-color: #d9d9d9;
  padding: 10px;
  display: flex;
  align-items: center;
}

#input-view {
  width: 100%;
  height: 100px;
  background-color: #fdffe2;
  border-radius: 30px;
  margin: 30px auto;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

#commands-container {
  width: 100%;
  border-radius: 30px;
  padding: 5px;
  border: 1px solid white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr; /* Definir dos filas */
  gap: 10px;
}

.respond-container,
.equal-container,
.operations-container,
.numbers-container {
  border: 1px solid springgreen;
  padding: 5px;
}

.respond-container {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.equal-container {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.operations-container {
  grid-column: 3 / 4;
  grid-row: 1 / 3; /* Abarcar las filas 1 y 2 */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  overflow-y: auto; /* Permitir desplazamiento vertical si es necesario */
}

.numbers-container {
  grid-column: 1 / 3;
  grid-row: 2 / 3; /* Abarcar la fila 2 */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.number,
.operator,
.ac,
.equal {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  height: 50px;
  width: 50px;
}

.operations-container {
  width: 100%;
}
